.info-contacto {
    padding: 20px;
    color: $text-color;
    margin-left: auto;
    margin-right: auto;
    width: 30%;

    @include responsive(768px) {
        font-size: small;
        width: 90%;
    }

    h2 {
        color: $secondary-color;
    }

    ul {
        list-style-type: circle;
        color: $text-color;
    }

    a {
        text-decoration: none;
        color: $secondary-color;
        padding: 20px;
    }
}


.formulario {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;

    @include responsive(768px) {
        width: 50%;
    }
}

form {
    display: flex;
    flex-direction: column;

    label {
        font-weight: bold;
        color: $text-color;
    }

    input {
        border: groove 2px $secondary-color;
    }

    textarea {
        border: groove 2px $secondary-color;
    }
}

.pie-contacto {
    @include texto(center, 20px, $text-color, $font-family);
    margin-top: 60px;
}