.navbar{
    background-color: $navbar-color;
    color: $menu-color;
    font-family: $font-family;
    a{
        color: $menu-color;
    }
}
body{
    h1{
        text-align: center;
        color: $secondary-color;
        font-size: 50px;
        font-family: $font-family;
    }
}