.hero {
    @include hero-style("../imagenes/cafe-interior3.jpg");
}

.hero-texto {
    text-align: center;
    color: $secondary-color;
    padding-top: 100px;
}

.hero-nosotros {
    @include hero-style("../imagenes/interior-de-cafe.jpg");

    h1 {
        padding: 20px;
        padding-top: 100px
    }
}

.hero-menu {
    @include hero-style("../imagenes/mesa-menu.jpg");
}

.hero-contacto {
    @include hero-style("../imagenes/libros-taza.jpg");
    text-align: center;
    color: $secondary-color;

    p {
        font-weight: bold;
    }
}

@media (max-width: 768px) {
    .hero {
        height: 30%;
    }
}

.hero-texto {
    h4 {
        font-size: 15px;
    }
}